<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>MS</title>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
	
	<div class="starter-template" >
    	<div class="align-left-template" >
			<form action="/autenticacao/conectar" method="post" th:object="${autenticacaoVO}"
				 style="width: 500px !important;" >
	    		<div th:if="${erro != null}">
					<span th:text="${erro}" style="color: red" ></span>
				</div>
				<div th:if="${mensagem != null}">
					<span th:text="${mensagem}" style="color: blue" ></span>
				</div>
				
				<h1>Sistema de vendas</h1>
				
				<span>Login:</span>
				<br/>
				<input name="login" th:field="*{login}" />
				<br/><br/>
				
				<span>Senha:</span>
				<br/>
				<input name="senha" th:field="*{senha}" type="password" />
				<br/><br/>
				
				<button style="float: right; font-size: 14px;" type="submit" >Autenticar</button>
			</form>
		</div>
	</div>
</body>
</html>