<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
	<div class="topnav">
		<div class="navbar">
			<a href="/venda">Home</a>
			  
			<div class="subnav">
			 	<button class="subnavbtn">Funcionário <i class="fa fa-caret-down"></i></button>
				<div class="subnav-content">
					<a href="/funcionario/criar">Criar</a>
					<a href="/funcionario/listar">Listar</a>
				</div>
			</div> 
			  
			<div class="subnav">
				<button class="subnavbtn">Cliente <i class="fa fa-caret-down"></i></button>
				<div class="subnav-content">
					<a href="/cliente/criar">Criar</a>
					<a href="/cliente/listar">Listar</a>
				</div>
			</div>
			  
			<div class="subnav">
				<button class="subnavbtn">Produto <i class="fa fa-caret-down"></i></button>
				<div class="subnav-content">
					<a href="/produto/criar">Criar</a>
					<a href="/produto/listar">Listar</a>
				</div>
			</div> 
			
			<div class="subnav">
				<button class="subnavbtn">Venda <i class="fa fa-caret-down"></i></button>
				<div class="subnav-content">
					<a href="/venda/criar">Nova</a>
					<a href="/venda/listar">Realizadas</a>
				</div>
			</div> 
		</div>
	</div>
</body>
</html>