<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>SR_M_MS</title>

    <link rel="stylesheet" th:href="@{/css/main.css}"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

</head>

<body>
	<div class="topnav">
		<div class="navbar">
			<a href="/venda">Home</a>
			  
			<div class="subnav">
			 	<button class="subnavbtn">Funcionário <i class="fa fa-caret-down"></i></button>
				<div class="subnav-content">
					<a href="/funcionario/criar">Criar</a>
					<a href="/funcionario/listar">Listar</a>
				</div>
			</div> 
			  
			<div class="subnav">
				<button class="subnavbtn">Cliente <i class="fa fa-caret-down"></i></button>
				<div class="subnav-content">
					<a href="/cliente/criar">Criar</a>
					<a href="/cliente/listar">Listar</a>
				</div>
			</div>
			  
			<div class="subnav">
				<button class="subnavbtn">Produto <i class="fa fa-caret-down"></i></button>
				<div class="subnav-content">
					<a href="/produto/criar">Criar</a>
					<a href="/produto/listar">Listar</a>
				</div>
			</div> 
			
			<div class="subnav">
				<button class="subnavbtn">Venda <i class="fa fa-caret-down"></i></button>
				<div class="subnav-content">
					<a href="/venda/criar">Nova</a>
					<a href="/venda/listar">Realizadas</a>
				</div>
			</div> 
		</div>
	</div>
	
	<div class="starter-template" >
		<div class="align-left-template">
			<form action="selecionarproduto" method="post">
		    	<div th:if="${mensagem != null}">
					<div th:if="${erro}">
						<span th:text="${mensagem}" style="color: red" ></span>
					</div>
					<div th:unless="${erro}">
						<span th:text="${mensagem}" style="color: blue" ></span>
					</div>
				</div>
				
		        <h1><span>Lista de produtos:</span></h1>
		        <hr>
		        <span th:if="${produtos == null || produtos.empty}" >Sem produtos cadastrados</span>
			                    	
		        <div th:each="produto : ${produtos}" class="col s12 l4">
		            <div class="card">
		                <div class="card-content">
		                    <div class="card-title" >
		                    	<span th:text="'produto '+ ${produto.nome} + ' - '"></span>
		                        <a th:href="@{'/produto/editar/' + ${produto.id}}" >Editar produto</a>
		                    	<span> - </span>
		                        <a th:href="@{'/produto/excluir/' + ${produto.id}}" >Excluir produto</a>
			                	<hr>
		                    </div>
		                </div>
		            </div>
		        </div>
			</form>
		</div>
	</div>
</body>
</html>